.text-pm{
    color: rgb(6, 6, 222);
  
}
p{
    color: rgb(139, 139, 139);
    text-align: justify;
    font-weight: 500;

}
.bg-pm{
    background: blue;
}
.f-bold{
    font-weight: 700;
}
.f-size{
    font-size: 46px;
} p{
    text-align: justify;
}
/* a:hover{
    color: rgb(190, 129, 156);
   
} */
.text-b{
    color: black;
}
.l-height{
    line-height: 35px;
}
.text-grey{
    color: grey;
}
.lsm-height{
    line-height: 30px;
}
.g-color{
color: rgb(30, 76, 118);
}
.r-color{
    color: rgb(126, 7, 7);
}
.text-c{
    text-transform:lowercase;
}
.text-u{
    text-transform: uppercase;
}